.projects {
    width: 100%;
    flex-direction: column;
}

.my-projects {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    background-color: #302F3D;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.my-projects h1 {
    font-size: 20px;
}

.my-projects a {
    text-decoration: none;
    color: #837E9F;
}

.my-projects a:hover {
    color: #837E9F;
}

/* .github-projects {
    width: 100%;
} */