.posts {
    width: 100%;
    flex-direction: column;
}

.recent-posts {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

    background-color: #302F3D;
    padding: 30px 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.recent-posts h1 {
    font-size: 20px;
}

.recent-posts a {
    text-decoration: none;
    color: #837E9F;
}

.recent-posts a:hover {
    color: #837E9F;
}

.posts-list {
    display: flex;
    flex-direction: column;
}