.post {
    background-color: red;
    width: 100%;
    height: 200px;
    box-sizing: border-box;

    background-color: #302F3D;
    padding: 30px 20px;
    border-radius: 20px;

    display: flex;
    gap: 50px;
}

.post img{
    width: 128px;
    height: 128px;

    border-radius: 50%;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-title {
    font-size: 20px;
}

.post-tags {
    display: flex;
    gap: 10px;

    list-style-type: none;
}